:root
{
    --screen_height: 864;
    --screen_width: 1536;
}

body
{
    background-image: url("wallpaper_background.jpg");
    background-size: cover;
    font-family: Roboto;
    height:100%;
    width:100%;
}

.grid-layout
{
    display: grid;
    position: absolute;
    width: 90%;
    height: 90%;
    min-width: calc(var(--screen_width) * 0.5px);
    min-height: calc(var(--screen_width) * 0.25px);
    margin: 2% 5% 2% 5%;
    grid-template-columns: minmax(calc(var(--screen_width) * 0.2px), 30%) auto;
    grid-template-rows: minmax(calc(var(--screen_height) * 0.08px), 12%) auto minmax(calc(var(--screen_height) * 0.065px), 8%);
    background-color: #999999;
}

.grid-user-profile
{
    background: #202c33;
    grid-column: 1;
    grid-row: 1;
    padding: 15px 15px 15px 15px;
    margin-right: 0.02cm;
}

.grid-chat-profile
{
    background: #202c33;
    grid-column: 2;
    grid-row: 1;
    padding: 15px 15px 15px 15px;
}

.grid-chats
{
    background: #111b21;
    grid-column: 1;
    grid-row: 2/4;
    padding: 4% 0px 0px 4%;
    margin-right: 0.02cm;
    overflow-y: auto;
    direction: rtl;
}

.grid-current-chat
{
    display: flex;
    flex-direction: column;
    background-image: url("wallpaper_chat_6.png");
    background-size: cover;
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    overflow-y: auto;
}

.grid-current-chat .fix 
{
    flex: 1 1 auto;
}

.grid-input
{
    background: #202c33;
    grid-column: 2;
    grid-row: 3;
    padding-top: 5px;
    padding-bottom: 5px;
}

.current-chat-info
{
    display: inline-block;
    transform: translate(0px, -3px);
}

.search-bar
{
    color: white;
    background: url("loupe-icon.png") no-repeat left;
    background-size: 10%;
    background-position: -14%;
    background-origin: content-box;
    background-color: #202c33;
    border-radius: 20px;
    height: 35px;
    width: 86%;
    padding-left: 15%;
    padding-right: 5%;
    margin-bottom: 8%;
    margin-right: 3.5%;
    direction: ltr;
}

.chat
{
    margin-bottom: 15px;
    margin-left: 5px;
    direction: ltr;
}

.chat-info
{
    display: inline-block;
    transform: translate(0px, -3px);
    width: 74%;
    padding-bottom: 5%;
    border-bottom: 0.01cm solid #363636;
}

.input-box
{
    color: white;
    background-color: #2a3942;
    border-radius: 5px;
    height: 35px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
}

.icon
{
    width:50px;
    height:50px;
    border-radius:100%;
    margin-right:15px;
}

.user-message-box
{
    color: white;
    background-color: #247278;
    margin: 0% 5% 2% auto;
    max-width: 55%;
    padding: 10px 10px 10px 10px;
    border-radius: 8px 0px 8px 8px;
}

.contacts-message-box
{
    color:white;
    background-color: #423333;
    margin: 0% auto 2% 5%;
    max-width: 55%;
    padding: 10px 10px 10px 10px;
    border-radius: 0px 8px 8px 8px;
}

.message
{
    max-width: 100%;
    word-wrap: break-word;
}

.text
{
    color:white;
    display:inline-block;
}

.light-text
{
    color: rgb(134, 133, 133);
}

#main
{
    width:100%;
    height:100%;
}

#username
{
    transform: translate(0px, -15px);
}

#chat-username
{
    margin-bottom: 10px;
}

#chat-status
{
    font-size: 15px;
}

#current-chat-username
{
    transform: translate(0px, -15px);
}

#chat-search-bar
{
    margin-left: 10%;
    margin-right: 2%;
}

#chat-info-username
{
    margin-bottom: 10px;
}

#chat-info-last-message
{
    font-size: 15px;
}