/*VARIABLES*/
:root
{
    --screen_height: 864px;
    --screen_width: 1536px;
    --featured-color1: #48234a;
    --featured-color2: #298087;
    --dark-color: #111b21;
    --light1-dark-color: #202c33;
    --light2-dark-color: #2a3942;
    --light3-dark-color: #4f545c;
    --chat-info-footer-color: #363636;
    --contacts-message-box-color: #423333;
    --menu-color: #202c33;
}

/*GENERAL SETTINGS*/
.text
{
    color:white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.light-text
{
    color: rgb(134, 133, 133);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*MAIN CONTAINER*/
body
{
    background-image: url("images/wallpaper_background.jpg");
    background-size: cover;
    font-family: Roboto;
    height:100%;
    width:100%;
}

#main
{
    width:100%;
    height:100%;
}

/*GRID LAYOUT*/

/*PANCAKE STACK (with naunces)*/
.grid-layout
{
    display: grid;
    position: absolute;
    width: 90%;
    height: 90%;
    min-width: calc(var(--screen_width) * 0.5);
    min-height: calc(var(--screen_width) * 0.25);
    z-index: 1;
    margin: 2% 5% 2% 5%;
    grid-template-columns: minmax(calc(var(--screen_width) * 0.25), 30%) 1fr;
    grid-template-rows: auto 1fr minmax(calc(var(--screen_height) * 0.055), 4vh); 
    background-color: #999999;
}

.grid-user-profile
{
    background-color: var(--featured-color1);
    grid-column: 1;
    grid-row: 1;
    padding: 15px 15px 15px 15px;
    margin-right: 0.03cm;
    overflow: hidden;
    display:flex;
    place-content: start;
}

.grid-chat-profile
{
    background-color: var(--featured-color1);
    grid-column: 2;
    grid-row: 1;
    padding: 15px 15px 15px 15px;
    overflow: hidden;
    display:flex;
    place-content: start;
}

.grid-chats
{
    background-color: var(--dark-color);
    grid-column: 1;
    grid-row: 2;
    margin-right: 0.03cm;
    overflow-y: auto;
    direction: rtl;
}

.grid-conversations
{
    display: flex;
    flex-direction: column;
    background-image: url("images/wallpaper_chat_6.png");
    background-size: cover;
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    overflow-y: auto;
}

.grid-conversations .fix 
{
    flex: 1 1 auto;
    margin-bottom: 3.5%;
}

.grid-banner
{
    display:grid;
    place-items: center;
    background-color: var(--light1-dark-color);
    grid-column: 1;
    grid-row: 3;
    margin-right: 0.03cm;
}

.grid-input
{
    background-color: var(--light1-dark-color);
    grid-column: 2;
    grid-row: 3;
    padding-top: 5px;
}

/* SCROLLBARS  */
::-webkit-scrollbar 
{
    width: 7px;
}
  
::-webkit-scrollbar-track 
{
background-color: var(--dark-color);
border-radius: 25px;
}

::-webkit-scrollbar-thumb 
{
background-color: var(--light2-dark-color);
border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover
{
background-color: var(--light3-dark-color);
}

/* USER PROFILE */
.grid-user-profile .avatar
{
    width:50px;
    height:50px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 15px;
}

#username
{
    width: 60%;
    margin-top:4%;
}

#new-chat-trigger
{
    width: 10%;
    height: auto;
    margin-left: 14%;
    margin-top: 2%;
}

/* CURRENT CHAT PROFILE */
.grid-chat-profile .avatar
{
    width:50px;
    height:50px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 15px;
}

.grid-chat-profile .info
{
    transform: translate(0px, -3px);
    overflow: hidden;
}

.grid-chat-profile .username
{
    margin-top: 5px;
    margin-bottom: 7px;
}

.grid-chat-profile .status
{
    font-size: 15px;
}

/* CHATS */
.grid-chats .search-bar
{
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 10px;
    margin-top: 15px;
}

#chat-search-bar
{
    color: white;
    background: url("images/loupe_icon.png") left;
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: -11%;
    background-origin: content-box;
    background-color: var(--light1-dark-color);
    border:none;
    border-radius: 20px;
    width: -webkit-fill-available;
    height: 35px;
    padding-left: 10%;
    padding-right: 8%;
    margin-bottom: 3%;
    margin-right: 3.5%;
    direction: ltr;
    transition: all 2s;
}

.grid-chats .eraser-hidden
{
    display: none;
    opacity: 0;
    height: 13px;
    width: 13px;
    position: relative;
    transform: translate(-30px, -42px);
    margin-bottom: 20em;
}

.grid-chats .eraser-showing
{
    height: 13px;
    width: 13px;
    position: relative;
    transform: translate(-30px, -42px);
}


#chats
{
    height: auto;
    width: auto;
}

#chats .avatar
{
    width:50px;
    height:50px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 15px;
}

#chats .chat
{
    display:flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    direction: ltr;
    transition: background-color 1ms;
}

#chats .chat:hover
{
    background-color: var(--light1-dark-color);
}

#chats .current
{
    display:flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    direction: ltr;
    background-color: var(--featured-color1);
}

#chats .info
{
    display: inline-block;
    width: -webkit-fill-available;
    overflow-x: clip;
}

#chats .username
{
    margin-bottom: 10px;
}

#chats .last-message
{
    font-size: 15px;
    margin-bottom: 15px;
}

#chats .footer
{
    width: auto;
    background-color: var(--chat-info-footer-color);
    height: 0.5px;
}

#chats .current .footer
{
    display: none;
}

/*CHAT CONVERSATIONS*/ 
.grid-conversations .current
{
    width:auto;
    height: auto;
}

.grid-conversations .not-current
{
    display:none;
}

.grid-conversations .conversation
{
    width: auto;
    height: auto;
}

.status-message
{ 
    color:white;
    background-color: var(--light2-dark-color);
    margin: 0% auto 15px auto;
    width: fit-content;
    max-width: 85%;
    padding: 10px 10px 10px 10px;
    border-radius: 8px 8px 8px 8px;
}

.status-message .message
{
    text-align: center;
    word-wrap: break-word;
}

.message-content
{
    display: inline-block;
    text-align: justify;
    color: white;
    max-width: fit-content;
    word-break: break-word;
}

.message-time
{
    display: inline-block;
    color: #c7c7c7;
    width: fit-content;
    height: fit-content;
    font-size: 11px;
    margin-left: 7px;
    margin-top: auto;
    transform: translate(0px, 5px);
}

/*PRIVATE CONVERSATIONS*/ 
.private .user-message
{
    display:flex;
    width: fit-content;
    max-width: 55%;
    background-image: linear-gradient(to right, #df47ac, #0093f4);
    margin: 0% 5% 10px auto;
    padding: 10px 10px 10px 10px;
    border-radius: 8px 0px 8px 8px;
}

.private .people-message
{
    display: flex;
    width: fit-content;
    max-width: 55%;
    background-image: linear-gradient(to right, #48234a, #298087);
    margin: 0% auto 10px 5%;
    padding: 10px 10px 10px 10px;
    border-radius: 0px 8px 8px 8px;
}

/*GROUP CONVERSATIONS*/ 
.group-message-layout
{
    display: grid;
    max-width: 55%;
    height: 90%;
    min-width: calc(var(--screen_width) * 0.5);
    min-height: calc(var(--screen_width) * 0.25);
    z-index: 1;
    margin: 2% 5% 2% 5%;
    grid-template-columns: minmax(calc(var(--screen_width) * 0.25), 30%) 1fr;
    grid-template-rows: auto 1fr minmax(calc(var(--screen_height) * 0.055), 4vh); 
    background-color: #999999;

}

.group .user-message
{
    margin: 0% 15px 15px auto;
}

.group .people-message
{
    margin: 0% auto 15px 15px;
    max-width: 55%;
    width: fit-content;
}

.group .user-message .message
{
    display:inline-block;
    background-color: var(--featured-color1);
    padding: 10px 10px 10px 10px;
    border-radius: 8px 0px 8px 8px;
}

.group .people-message .message
{
    display:inline-block;
    background-color: var(--dark-color);
    padding: 10px 10px 10px 10px;
    border-radius: 0px 8px 8px 8px;
}

.group .user-message .avatar
{
    display: inline-block;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 5px;
    margin-bottom: 30px;
}

.group .people-message .avatar
{
    display: inline-block;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 5px;
    margin-bottom: 30px;
}

.group .user-message .username
{
    color: aqua;
    margin-bottom: 7px;
}


.group .people-message .username
{
    color:palevioletred;
    margin-bottom: 7px;
}

/*BANNER*/
.grid-banner .casada-logo
{
    width: 40%;
    height: auto;
    transform: translate(-10px,-5px);
}

/*INPUT*/
.emoji-icon
{
    float: left;
    width: 25px;
    height: 25px;
    margin: 11px 20px 0% 20px;
    /*background-color: #8a8a8a;*/
}

#keyboard-input
{
    display: inherit;
    color: white;
    background-color: var(--light2-dark-color);
    border-radius: 5px;
    height: 35px;
    width: -webkit-fill-available;
    margin-top: 2px;
    margin-right: 30px;
    padding-left: 2%;
}

/* ROOM AND AVATAR CHOOSE */

/* SUPER CENTERED */
.menu-grid
{
    display:grid;
    place-items: center;
    position: absolute;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    z-index: 0;
}

#menu
{
    position:absolute;
    height:calc(var(--screen_height) * 0.7);
    width:calc(var(--screen_width) * 0.3);
    background-color: var(--menu-color);
    border-radius: 5%;
    text-align: center;
    overflow: hidden;
}

.menu-banner
{
    width: auto;
    height: 4%;
    padding-top: 1%;
    color: white;
    background:#4f545c;
}

#menu-dragger
{
    cursor: move;
}

#menu-options
{
    float: right;
    width: 4%;
    height: auto;
    transform: translate(-22px, -21px);
}

#menu .casada-logo
{
    width:50%;
    height: auto;
    margin-left: 5%;
    margin-top: 2%;
}

#new-avatar
{
    width:200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 3%;
}

#menu input[type="file"]
{
    display:none
}

#avatar-uploader
{
    width: 5%;
    height: auto;
    background-color: var(--dark-color);
    border: solid 10px;
    border-color: var(--dark-color);
    border-radius: 100%;
    margin-bottom: 4%;
}

#menu div[type="text"]
{
    color: white;
    font-size: 17px;
}

#menu input[type="text"]
{
    width: 60%;
    height: auto;
    color: white;
    text-align: center;
    font-size: 17px;
    background-color: var(--dark-color);
    padding: 2%;
    margin-bottom: 3%;
    border: none;
    border-radius: 20px;
    transition: all 1s;
}

#menu input[type="text"]::placeholder
{
    color: #912626;
    opacity: 1;
}

#reset-changes, #apply-changes
{
    width: 40%;
    height: auto;
    color: white;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 4%;
}

#reset-changes
{
    background-color: #973131;
    margin-right: 5%;
}

#apply-changes
{
    background-color: var(--featured-color2);
}


